<main class="main">
  <div class="content">

    <div class="left side">

    </div>

    <div class="right side">
      <span class="category">PERFUME</span>

      <span class="title">
        Gabrielle Essence Eau De Parfum
      </span>

      <p>
        A floral, solar and voluptuous interpretation composed by
        Olivier Polge, Perfumer-Creator for the house of CHANEL.
      </p>

      <div class="value">
        <span>
          $149.99
        </span>
        <span>
          $169.99
        </span>
      </div>

      <button>
        <div class="cart"></div>
        <span>Add to Cart</span>
      </button>
    </div>

  </div>
</main>

<router-outlet />
